{% load render_partial %}
{% load static %}
{% render_partial 'apps.style_app.views.header' %}
<body>
<link rel="stylesheet" href="{% static 'contain.css' %}">
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'code.jquery.com_jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'cdn.jsdelivr.net_npm_@popperjs_core@2.9.1_dist_umd_popper.min.js' %}"></script>
<script src="{% static 'maxcdn.bootstrapcdn.com_bootstrap_4.5.2_js_bootstrap.min.js' %}"></script>
</body>
</html>