{% load render_partial %}
{% load static %}
{% render_partial 'apps.style_app.views.header' %}
<body>
<link rel="stylesheet" href="{% static 'contain.css' %}">
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>