{% load static %}
{% load render_partial %}

<html>
<header>
    <script src="{% static 'code.jquery.com_jquery-3.6.0.min.js' %}"></script>
    <!--    <meta name="viewport" content="width=device-with">-->

    <link href="{% static 'header.css' %}" rel="stylesheet"/>


</header>
<body>
<div class="navbar">

    <div class="username">
        {% if user.is_authenticated %}
            <div id="username">{{ user.username }}</div>
        {% endif %}
    </div>
    <ul class="link">
        {% for nav in navBar %}
            <li class="navitem">
                <a href="{% url  nav.link %}">{{ nav.name }}</a>
            </li>
        {% endfor %}
        {% if user.is_authenticated %}
            <li class="navitem">
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
    <div class="toggle-btn"><img class="btn-img" style="width: 25px;" alt="bars" src="{% static 'images/bars-solid.svg' %}"></div>
</div>


{#<ul class="dropdownmenu">#}
{#        {% for nav in navBar %}#}
{#            <li class="navitem">#}
{#                <a href="{% url  nav.link %}">{{ nav.name }}</a>#}
{#            </li>#}
{#        {% endfor %}#}
{##}
{#        {% if user.is_authenticated %}#}
{#            <li class="navitem">#}
{#                <a  href="{% url 'logout' %}">Logout</a>#}
{#                {% else %}#}
{#                <a href="{% url 'login' %}">Login</a>#}
{#            </li>#}
{#        {% endif %}#}
{##}
{#</ul>#}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const togglebtn = document.querySelector('.toggle-btn');
        const toggleicon = $('.toggle-btn img');
        const dropdownmenu = document.querySelector('.link');


        togglebtn.onclick = function () {
            dropdownmenu.classList.toggle('open');
            const isopen = dropdownmenu.classList.contains('open');
            {#toggleicon.classList = isopen ? "fa-solid fa-xmark" : "fa-solid fa-bars";#}
            if(isopen){

                toggleicon.attr("src", "{% static 'images/xmark-solid.svg' %}");
            }else {
               toggleicon.attr("src", "{% static 'images/bars-solid.svg' %}");
            }
        }
    });

</script>