{% load static %}
<div id="listaccountload">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% for i in acc %}
        <div class="list_acc center"><img onclick="delete_account('{{ i.id }}')" class="trush" src="../static/images/trash-solid.svg"><span class="spname center">{{ i.name }}</span> <span
                class="spaccnum center">{{ i.accountNumber }}</span><span class="spcash center">{{ i.cash }}</span>
        </div>
    {% endfor %}
    <div class="list_acc"><span style="width: 100%" class="center">{{ total_amount }}</span></div>
    <div id="addccfiled" class="list_acc hasinput"><input class="center" id="accname" type="text"><input class="center" id="accnum" type="text"><input class="center" id="acccash" type="text"></div>
    <div id="addclick" onclick="addaccfiled()" class="list_acc add_list center">
        <span>+</span>
    </div>

</div>
