{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'sub_menu.css' %}">
    <link rel="stylesheet" href="{% static 'styletransaction.css' %}">
    <script src="{% static 'code.jquery.com_jquery-3.6.0.min.js' %}"></script>

    <div class="flex_container" id="listaccountload">
        <div class="sub_navbar" id="sub_navbar">
            <ul class="sub_link">
                <li>
                    <a href="{% url 'formtransaction' %}">Add transaction</a>
                </li>

            </ul>

        </div>
        <div class="open_sub">
            <img class="plus" src="../../static/images/plus-solid.svg">
        </div>
        <div class="body_submenu">
            <div class="list_public center">
                <span class="center">date time</span>
                <span class="center">  account name</span>
                <span class="center">remaining</span>
                <span class="center">amount</span>
            </div>
            {% for act in transactions %}
                <div class="list_public center {{ act.type }}">


                    <span class="center">{{ act.datetime|date:"Y-m-d H:i" }}</span>
                    <span class="center">  {{ act.account.name }}</span>
                    <span class="center">{{ act.remaining }}</span>
                    <span class="center">{{ act.amount }}
                        {% if act.type == 'debit' %}
                            -
                        {% elif act.type == 'credit' %}
                            +
                        {% endif %}
            </span>
                </div>

            {% endfor %}
        </div>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const togglebtn = $('.open_sub');
                const dropleftmenu = $('#sub_navbar');


                togglebtn.on("click", function() {
                    {#dropdownmenu.classList.toggle('open');#}
                    var classList = dropleftmenu.attr("class");
                    if(classList=="sub_navbar"){
                        dropleftmenu.removeClass("sub_navbar");
                        dropleftmenu.addClass("sub_navbar_opener");

                    }
                    else if (classList=="sub_navbar_opener"){
                        dropleftmenu.removeClass("sub_navbar_opener");
                        dropleftmenu.addClass("sub_navbar");
                    }

                });
            });

        </script>
    </div>
{% endblock %}